services:
  loyaltycardsbackend:
    image: tomigorn/loyaltycardsbackend:latest
    container_name: loyalty-cards-backend
    ports:
      - "5000:5000"
    volumes:
      - type: volume
        source: loyaltycards_data
        target: /app/Data
        volume:
          nocopy: true
    restart: always

  cloudbeaver:
    image: dbeaver/cloudbeaver:latest
    container_name: loyalty-cards-cloudbeaver
    environment:
      - TZ=Europe/Zurich
    ports:
      - "8978:8978"
    volumes:
      - type: volume
        source: loyaltycards_data
        target: /opt/cloudbeaver/workspace/GlobalConfiguration/.data/sqlite
        read_only: true
      - cloudbeaver_workspace:/opt/cloudbeaver/workspace
    restart: always

volumes:
  loyaltycards_data:
    name: ${COMPOSE_PROJECT_NAME}_loyaltycards_data
    external: true
  cloudbeaver_workspace:
    name: ${COMPOSE_PROJECT_NAME}_cloudbeaver_workspace
